# My Jupyter Notebook on IBM Watson Studio

## Chelsea Dejean

### Desired Occupation: Logistic Specialist or Data Analyst

*I am interested in data science because I am looking to change careers. I was a Math Teacher for five years, but now I really want to do something different. I started to learn SQL and decided to learn more courses that were related to it.*

### The code written below should excute 10 X 100

In [1]:
10*100

1000

*The following table represents a sample from a workbook in Tableau that I have been practicing with.*
*I will be using Table, Numbered List, and Code/Syntax Highlighting.*

Category| Sub-Category| Profit
----| ----| ----
 1. Furniture| Chairs | $26,590
 2. Furniture | Tables |`($17,725)`